%nav.top-bar{data: {topbar: ''}}
  %ul.title-area
    %li.name
      %h1
        =link_to 'KennelBox', root_url
    %li.toggle-topbar.menu-icon
      %a{href: '#'} Menu
  %section.top-bar-section
    %ul.left
      %li.divider
      - unless user_signed_in?
        %li.has-dropdown
          =link_to "Logged in as foobar", root_url
          %ul.dropdown
            %li
              =link_to 'Logout', root_url
      - else
        %li.active
          =link_to 'Login', root_url
      %li.divider
    %ul.right
      %li
        %a{href: '#'} Owners
      %li
        %a{href: '#'} Animals
      %li
        %a{href: '#'} Bookings