%nav.top-bar{data: {topbar: ''}}
  %ul.title-area
    %li.name
      %h1
        %a{href: "#"} KennelBox
    %li.toggle-topbar.menu-icon
      %a{href: "#"} Menu
  %section.top-bar-section
    %ul.right
      %li.active
        %a{href: "#"} Owners
      %li
        %a{href: "#"} Animals
      %li
        %a{href: "#"} Bookings
