%nav.top-bar{data: {topbar: ''}}
  %ul.title-area
    %li.name
      %h1
        =link_to 'KennelBox', root_url
    %li.toggle-topbar.menu-icon
      %a{href: '#'}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
      - if user_signed_in?
        %li.has-dropdown
          =link_to "Logged in as #{current_user.email}", root_url
          %ul.dropdown
            %li
              =link_to 'Sign out', destroy_user_session_path, :method => :delete
      - else
        %li.active
          - if no_users?
            = link_to "Sign up", new_user_registration_path
          - else
            = link_to "Sign in", new_user_session_path

      %li.divider
    %ul.right
      %li
        %a{href: '#'} Owners
      %li
        %a{href: '#'} Animals
      %li
        %a{href: '#'} Bookings