.jumbotron
  %h1 #{Box.config.site_name}
  %p Welcome to #{Box.config.site_name}, the leading boarding and kennel management solution.
.pitch.panel.panel-default
  .panel-body
    %p.lead.text-justify Please feel free to browse and interact with this demonstration site, which contains the full functionality of the customer-facing part of the #{Box.config.site_name} suite of products.
    .p From here you can create an account, receive confirmation emails, make or review bookings, add or update your pets, create memos for staff relating tot he care of your pet - all features your customers will be able to use with your subscription to #{Box.config.site_name}.
.small.text-muted
  =Rails.env
