body { padding-top: 70px; }

.navbar-nav > li:last-child > a {
  border-right: 1px solid #555;
}

.navbar-nav > li > a {
  border-left: 1px solid #555;
}

.navbar-inverse .navbar-brand {
  color: #ff0080;

}

.pitch .lead, .jumbotron p {
  margin-bottom: 0px;
}

.jumbotron {
  background-image: image-url('big_dog.jpg');
}

.lead+.p {
  margin-top: 10px;
}

.footer .panel {
  margin-top:    5px;
  margin-bottom: 5px;
  background-color: #f6f6f6;
}

.footer .panel-body {
  padding: 3px;
  margin-bottom: 0px;
  margin-top: 0px;
}